<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>

{{#each tasks as |task| }}
<div class="row mb-4 post">
  <div class="col-md-5">
    <p>Created by {{tasks.user.name}} on {{format_date tasks.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{tasks.description}}
    </p>
  </div>
</div>
{{/each}}

    <a href="/task/{{id}}"><button class="btn btn-primary">task on this</button></a>

  </p>
</div>
